<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
    </configSections>
    <connectionStrings>
        <add name="WIPManager.Properties.Settings.VJSConnectionString"
            connectionString="Data Source=DC1\MSSQLSERVER2008;Initial Catalog=VJS60;Persist Security Info=True;User ID=sa;Password=F@$nT@[t11" />
        <add name="WIPManager.Properties.Settings.VJCConnectionString"
            connectionString="Data Source=DC1\MSSQLSERVER2008;Initial Catalog=VJCompanion;Persist Security Info=True;User ID=sa;Password=F@$nT@[t11" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.7.2" />
    </startup>
</configuration>